<html>
<head>
<body>
    <a href="{{ path('app_home')}}">Home</a>
    <a>Contacts</a>
    <a href="{{ path('app_author_show')}}">Author</a>
    <a href="{{ path('app_author_list')}}">Authors list</a>
<h1>Contacts</h1>
</body>
</head>
</html>